<div class="box-forms shadow-lg">
    <p class="subtitle">List of Categories</p>
    <ng-container *ngIf="(categories$ | async) as contentPage">
        <div class="container">
            <table class="table table-striped text-center">
                <thead class="">
                    <tr>
                        <th scope="col" class="">ID</th>
                        <th scope="col" class="">Name</th>
                        <th scope="col" class="">Delete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr class="" *ngFor="let category of contentPage.content">
                        <td scope="row" class="">
                            {{category.idCategory}}
                        </td>
                        <td scope="row" class="">
                            {{category.name}}
                        </td>
                        <td scope="row" class="">
                            <button (click)="delete(category)" type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <span class="page-link">Previous</span>
                    </li>
                    <li *ngFor="let pageNumber of [].constructor(contentPage.totalPages); let i = index;"
                        class="page-item"><a class="page-link" (click)="goToPage(i)">{{i
                            + 1}}</a></li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </ng-container>
</div>