<div class="box-forms shadow-sm bg-body rounded">
  <p class="subtitle">Create Product</p>

  <form [formGroup]="productForm" (ngSubmit)="create()" class="" action="">
    <div class="form-group">
      <label>Name</label>
      <input id="productName" formControlName="name" required class="" type="text" placeholder="Name of product">

      <div *ngIf="dataForm['name'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['name'].errors && dataForm['name'].errors['required']">
          <p class="error-message">Name is required.</p>
        </div>
      </div>


      <label>Reference</label>
      <input formControlName="reference" type="text" placeholder="Reference of product">

      <div *ngIf="dataForm['reference'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['reference'].errors && dataForm['reference'].errors['required']">
          <p class="error-message">Reference is required.</p>
        </div>
      </div>

      <label>Amount</label>
      <input formControlName="amount" type="number" placeholder="Amount of product">

      <div *ngIf="dataForm['amount'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['amount'].errors && dataForm['amount'].errors['required']">
          <p class="error-message">Amount is required.</p>
        </div>
      </div>

      <label>Price</label>
      <input formControlName="price" type="number" placeholder="Price of product">

      <div *ngIf="dataForm['price'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['price'].errors && dataForm['price'].errors['required']">
          <p class="error-message">Price is required.</p>
        </div>
      </div>

      <label>Category</label>
      <ng-container *ngIf="(listCategories$ | async) as listCategories">
        <select formControlName="category" name="status" required>
          <option value="">select a option</option>
          <option [ngValue]="category" *ngFor="let category of listCategories">{{category.name}}</option>
        </select>
      </ng-container>

      <div *ngIf="dataForm['category'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['category'].errors && dataForm['category'].errors['required']">
          <p class="error-message">Select a category.</p>
        </div>
      </div>

      <label>Unit Measurement</label>
      <ng-container *ngIf="(listUnitMeasurements$ | async) as listUnitMeasurements">
        <select formControlName="unitMeasurement" required name="status" placeholder="select">
          <option value="">select a option</option>
          <option [ngValue]="um" *ngFor="let um of listUnitMeasurements">{{um.name}}</option>
        </select>
      </ng-container>

      <div *ngIf="dataForm['unitMeasurement'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['unitMeasurement'].errors && dataForm['unitMeasurement'].errors['required']">
          <p class="error-message">Select a unit Measurement.</p>
        </div>
      </div>

      <label>Provider</label>
      <select formControlName="provider" required name="status" placeholder="select">
        <option value="">select a option</option>
        <option [ngValue]="provider" *ngFor="let provider of listProviders">{{provider.name}}</option>
      </select>

      <div *ngIf="dataForm['provider'].touched" class="form-danger-alert">
        <div *ngIf="dataForm['provider'].errors && dataForm['provider'].errors['required']">
          <p class="error-message">Select a provider.</p>
        </div>
      </div>

      <button role="button" type="submit" class="button-create">
        Create Product
      </button>

    </div>

  </form>
</div>