<div class="box-forms shadow-lg">
  <p>Create Product</p>

  <form [formGroup]="productForm" (ngSubmit)="create()" class="flex flex-col" action="">
    <div class="form-group">
      <label>Name</label>
      <input id="productName" formControlName="name" required class="" type="text" placeholder="Name of product">

      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="invalid-feedback">
        <div *ngIf="name?.errors?.['required']">
          Name is required.
        </div>
      </div>


      <label>Reference</label>
      <input formControlName="reference" type="text" placeholder="Name of product">



      <label>Amount</label>
      <input formControlName="amount" type="number" placeholder="Name of product">


      <label>Price</label>
      <input formControlName="price" type="number" placeholder="Name of product">

      <app-selector (categorySelected)="getCategory($event)" (providerSelected)="getProvider($event)"
        (unitMeasurementSelected)="getUM($event)"></app-selector>

      <button role="button" type="submit" class="button-create">
        Create Product
      </button>

    </div>

  </form>
</div>