/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities

html
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0

// colors
$primary-blue-color: rgb(34,45,50)
$secondary-gray-color: rgb(129,128,128)
$white-color: rgb(255,255,255)

.title
  display: flex
  align-items: center
  justify-content: center
  padding-top: 15px
  h1
    font-size: 30px
